html
	head
		meta(charset="UTF-8")
		link(rel="shortcut icon" type="image/x-icon" href="")
		link(rel="shortcut icon" href="")
		meta(content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" name="viewport")
		meta(content="yes" name="apple-mobile-web-app-capable")
		meta(content="telephone=no" name="format-detection")
		link(rel="stylesheet", href="css/main.min.css")
		title questions
	body
		.wrapper
			include ./basic/header.jade
			.content
				h1.text-uppercase вопросы и предложения
				form(id="", method="", action="")
					div.field-wrap.backing.clearfix
						i.icon-person
						div.field
							label(for="login") ФИО
							input(type="text", value="", id="login", class="custom-hidden", placeholder="Введите ФИО", name="log", required)
					div.field-wrap.backing
						i.icon-cloud
						div.field
							label(for="faq") Вопрос и предложение
							textarea(name="", id="faq", cols="30", rows="", placeholder="---", class="textarea")
					.btn-holder
						button(type="submit", class="btn btn-primary", value="Войти") готово
	script(src="js/jquery.min.js")
	script(src="js/main.js")
