html
	head
		meta(charset="UTF-8")
		link(rel="shortcut icon" type="image/x-icon" href="")
		link(rel="shortcut icon" href="")
		meta(content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" name="viewport")
		meta(content="yes" name="apple-mobile-web-app-capable")
		meta(content="telephone=no" name="format-detection")
		link(rel="stylesheet", href="css/main.min.css")
		title home
	body
		.wrapper
			include ./basic/header.jade
			.content
				.article.clearfix
					p При регистрации гостей спрашивайте откуда они узнали о нас. Потом, в пометке “комментарий” записывать ответы гостей. Этот пункт очень важный, но спрашивайте как-то ненавязчиво.
				include ./basic/homenav.jade
	script(src="js/jquery.min.js")
	script(src="js/main.js")