.field-wrap
	display: block
	padding: 0 16px
	min-height: 50px
	margin-top: -1px
	border-top: 1px solid #e2e2e2
	border-bottom: 1px solid #e2e2e2
	[class^="icon-"]
		float: left
		width: 30px
		min-height: 48px
		max-height: 48px
		margin-right: 5px
		&:before
			margin-left: 4px
			margin: 13px auto
	.field
		overflow: hidden
		label
			display: block
			color: #919191
			font-size: 12px
			line-height: 12px
			padding: 8px 0 3px
			font-weight: lighter

.custom-hidden
	padding: 0
	width: 100%
	border: none
	outline: none
	font-size: 14px
	min-height: 20px
	&::-webkit-input-placeholder
		color: #919191
		font-size: 14px
	&::-moz-placeholder
		color: #919191
		font-size: 14px
	&:-moz-placeholder
		color: #919191
		font-size: 14px
	&:-ms-input-placeholder
		color: #919191
		font-size: 14px
	&[disabled]
		color: #303030
		background-color: #fff

.md-size
	float: left
	width: 73.125%
	border-right: 1px solid #e2e2e2
	[class^=icon-]
		&:before
			margin-left: 0
	&+.field-wrap
		float: left
		width: 26.875%

.half-size
	width: 50%
	float: left
	padding-right: 0
	&:first-of-type
		border-right: 1px solid #e2e2e2
	[class^=icon-]
		&:before
			margin-left: 0
.datepicker,
.timepicker
	appearance: none
	&:before
		content: attr(placeholder) !important
		color: #aaa
		margin-right: 0.5em
	// TODO http://stackoverflow.com/questions/14946091/are-there-any-style-options-for-the-html5-date-picker
	&:focus:before,
	&:valid:before
		content: ""
		display: none

.settings-part
	[class^=icon-]:before
		margin-left: 0
		margin-right: 0

.guest-adding
	.inner
		padding-top: 30px

.btn-add
	padding: 30px 0

.price-tags
	padding: 10px 16px 0
	background-color: #FFF
	border-bottom: 1px solid #e2e2e2

.tag
	float: left
	color: #157dfb
	display: block
	min-height: 30px
	padding: 4px 7px
	margin: 0 16px 10px 0
	border-radius: 3px
	background-color: #fff
	border: 1px solid #157dfb

.icon-cloud
	margin-right: 10px !important

.textarea
	padding: 0
	width: 100%
	resize: none
	border: none
	outline: none
	padding-bottom: 5px