$bg-size: 83px 704px
$bg-path: url('../images/icon-sf08b64977e.png')

*
	box-sizing: border-box

body
	color: #303030
	text-size-adjust: none
	background-color: #f6f6f6
	overflow-scrolling: touch
	font: 14px/20px Arial, Helvetica, sans-serif
	-moz-osx-font-smoothing: grayscale
	-webkit-font-smoothing: antialiased

a
	color: #5e5e5e
	text-decoration: none

.center
	padding: 0 16px

.btn-primary
	color: #fff
	height: 44px
	border: none
	font-size: 16px
	font-weight: 700
	border-radius: 3px
	background-color: #157dfb

.btn-holder
	padding: 20px 16px
	button
		width: 100%

.backing
	position: relative
	background-color: #fff

.center
	padding: 0 16px

.wrapper
	width: 100%
	overflow: hidden
	&.menu_op
		top: 0
		left: 0
		height: 100%
		position: absolute
		header
			z-index: 20
			position: relative
		.overlay
			top: 0
			left: 0
			z-index: 10
			width: 100%
			height: 100%
			position: absolute
			background-color: rgba(0,0,0,.6)
		.content *
			z-index: -5

h1
	color: #919191
	font-size: 11px
	margin: 30px 16px 10px

h2
	color: #919191
	margin: 10px 0
	font-size: 12px

.article
	padding: 16px
	&:before
		content: ''
		width: 35px
		float: left
		height: 13px
		margin-right: 6px
		background: $bg-path 0 -25px
		background-size: $bg-size
	p
		overflow: hidden
		line-height: 15px
		font-style: italic
		font-weight: lighter

.btn-add
	.description
		display: block
		color: #157dfb
		font-size: 16px
		padding: 14px 0

.remove-user
	.icon-remove-user:before
		margin-left: 0
	.description
		display: block
		color: #fb5115
		font-size: 16px
		padding: 14px 0

.bordered
	border-top: 1px solid #e2e2e2
	border-bottom: 1px solid #e2e2e2
	&:last-of-type
		border-top: none

