header
	.backing.clearfix
		.heading-wrap
			button(class="btnMenu pull-left", aria-controls="#navigation", aria-hidden="false")
				span.gamb
					span.line
					span.line
					span.line
			a(href="main.html").logo
			a(href="").btnExit.pull-right
		nav(class="navigation", id="navigation")
			ul
				li.backing
					a(href="", target="", class="arrow")
						i.icon-quest-registration
						span Регистрация гостя
				li.backing
					a(href="", target="", class="arrow")
						i.icon-listing
						span Заявки
				li.backing
					a(href="", target="", class="arrow")
						i.icon-mail
						span Вопросы и предложения
				li.backing
					a(href="", target="", class="arrow")
						i.icon-video
						span Видео инструкции