ul.homenav
	li.backing
		a(href="", target="", class="arrow")
			i(class="icon-quest-registration")
			span Регистрация гостя
	li.backing
		a(href="", target="", class="arrow")
			i(class="icon-listing")
			span Заявки
	li.backing
		a(href="", target="", class="arrow")
			i(class="icon-mail")
			span Вопросы и предложения
	li.backing
		a(href="", target="", class="arrow")
			i(class="icon-video")
			span Видео инструкции