header .backing {
  min-height: 50px;
  border-bottom: 1px solid #e2e2e2;
}

.btnMenu {
  padding: 0;
  width: 60px;
  border: none;
  outline: none;
  display: block;
  max-height: 50px;
  min-height: 50px;
  position: relative;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}
.btnMenu > .gamb {
  top: 50%;
  left: 50%;
  width: 20px;
  height: 18px;
  display: block;
  position: absolute;
  margin: -9px 0 0 -15px;
  transform: translateZ(0);
}
.btnMenu > .gamb > .line {
  width: 20px;
  height: 3px;
  display: block;
  margin-bottom: 4px;
  background-color: #303030;
  transition: transform 0.5s, opacity 0.7s;
}
.btnMenu > .gamb > .line:last-of-type {
  margin: 0;
}
.btnMenu.in > .gamb > .line:nth-child(1) {
  transform: translate3d(0px, 7px, 0) rotate(45deg);
}
.btnMenu.in > .gamb > .line:nth-child(2) {
  transform: translate3d(0px, 0px, 0) rotate(-45deg);
}
.btnMenu.in > .gamb > .line:nth-child(3) {
  opacity: 0;
  transform: translate3d(0px, -8px, 0) rotate(-40deg);
}

.heading-wrap {
  z-index: 20;
  position: relative;
  height: 50px;
  background-color: #FFF;
}

.logo {
  top: 50%;
  left: 50%;
  width: 84px;
  height: 32px;
  display: block;
  margin-top: -16px;
  margin-left: -42px;
  position: absolute;
  background: url("../images/icon-sf08b64977e.png") no-repeat 0 -395px;
  background-size: 83px 704px;
}

.btnExit {
  width: 60px;
  display: block;
  max-height: 50px;
  min-height: 50px;
  position: relative;
}
.btnExit:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 50%;
  width: 22px;
  height: 18px;
  margin: -9px -15px 0 0;
  background: url("../images/icon-sf08b64977e.png") no-repeat 0 -175px;
  background-size: 83px 704px;
}

.navigation {
  left: 0;
  top: 51px;
  width: 100%;
  display: none;
  position: absolute;
}
.navigation li {
  padding: 0 16px;
  margin-top: -50px;
  transition: all 0.3s ease-in-out;
  transform: translate3d(0, 0, 0);
}
.navigation li.shown {
  margin-top: 0;
}
.navigation li.shown a:after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.navigation li a {
  display: block;
  color: #5e5e5e;
  font-size: 16px;
  padding: 10px 0;
  position: relative;
}
.navigation li a [class^="icon-"] {
  width: 35px;
  display: inline-block;
  vertical-align: middle;
}
.navigation li a [class^="icon-"]:before {
  margin: 2px 0;
}
.navigation li a .icon-mail:before {
  margin: 6px 0;
}
.navigation li a .icon-video:before {
  margin: 7px 0;
}
.navigation li a span {
  display: inline-block;
  vertical-align: middle;
}
.navigation li a:after {
  right: 0;
  opacity: 0;
  transform: translate3d(50px, 0, 0);
  transition: all 950ms;
}
